.container {
    display: block;
    margin: 150px 600px;
    border: 3px solid black;
    border-radius: 25px;
    background-color: lightblue;
}
.counter {
    border: 2px solid black;
    border-radius: 15px;
    margin: 20px auto;
    width: 30px;
    padding: 15px;
    text-align: center;
    background-color: lightblue;
}
.buttons {
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
}
.inc {
    margin-right: 10px;
    border-radius: 15px;
    padding: 10px;
}
.reset {
    border-radius: 15px;
    padding: 10px;
}
.redStyle {
    color: red;
    font-family: "Arial Black";
    border: 1px solid black;
    border-radius: 15px;
    margin: 20px auto;
    width: 30px;
    padding: 15px;
    text-align: center;
}
.disClass {
    background-color: red;
}